a:hover{
    opacity: 0.8;
}

.btn.btn-primary, .btn.btn-danger{
      border: transparent;
      border-radius: 5px;
      transition:all 0.5s;
  }
  
  .btn:hover {
      box-shadow: 1px 1px 7px rgba(0, 0, 0, 2);
  }
  
  .btn:active {
      opacity: 0.7;
  } 
  
