*{
  font-family: 'Poppins', sans-serif;
}
header{
  position: relative;
} 
aside{
  background-image: linear-gradient(rgba(4, 9, 20, 0.04),rgba(4, 9, 20, 0.692)), url(images/red.png);
}
 nav{
  display: flex;
  padding: 16px 40px;
  align-items: center;
}
 img{
  width:60px;
}
 h1{
  color: white;
  font-size: 25px;
  font-weight: 600;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-links{
flex: 1;
text-align: right;
color: white;
position: relative;
}
.nav-links a{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  padding: 6px 10px;
}
.nav-links  a::after{
  content: ''; /*replaces an element with a generated value*/
  width: 0;
  height: 2.5px;
  background:rgb(255, 203, 140);
  display: block;
  margin: auto; /*make the line from the center*/
  transition: 0.5s;
}
.nav-links a:hover::after{
  width: 100%;
}
.nav-links a:active{
  opacity: 0.5;
}
nav .fa{
  display: none;
}
/*

*/
@media (max-width: 700px){
  nav{
    display: flex;
    padding: 5px 10px;
    align-items: center;
  }
   img{
    width:40px;
  }
    h1{
    font-size: 18px;
  }
  .nav-links{
    position:absolute;
    background-image: linear-gradient(rgba(234, 140, 18, 0.542),rgba(238, 184, 37, 0.81)), url(images/red.png);
    height: 100vh;
    width: 200px;
    top: 0;
    right:-200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
    nav .fa{
    display: block;
    color: #fff;
    margin-left: 200px;
    font-size: 22px;
    cursor: pointer;
  }
  nav .nav-links .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
}